img {
    /* changes the size of the image*/
    width: 80%;
    /* these two commands will center the image on the page */
    display: block;
    margin: 0 auto;
    /* margin: 1rem auto; it will give one line of text above and below img */
}
/* text-decoration: none; will remove underline from link */
p {
    width: 80%
}

a {
    /*relative is the better option*/
    font-size: 1.5em;
    /* font-size: 24px */
}

nav{
    /* this changes the height of the view port */
    height: 20vh;
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: rgba(70, 131, 180, 0.5);
    padding: 10px;
}

/* a stands for anchor and deals with all the links in a page */
a {
    color: white;
    margin: 40px;
}

h1 {
    text-align: center;
    color: steelblue;
}

img {
    width: 800px;
    border: 4px solid steelblue;
}

p {
    padding: 10px;
}

footer p{
    text-align: center;
    background-color: steelblue;
    color: white;
}